CeramicChronologyProbabilityDistributionNormalYear.csv
CeramicProbNormalbyYear.csv
DataMasterAdjusted.Rds
DataMasterAdjusted.csv
DataMasterTotals.Rds
DataMasterTotals.csv
DataMasterTotals.csvs
ProbDistResultNormalYear.Rds
DataMasterPosterior.Rds
PeriodDiversity.Rds
PeriodSummary.Rds
Priors.Rds
HexPoints.Rds
hexGridSF.Rds
CentralityScores-750.Rds
CentralityScores-800.Rds
CentralityScores-850.Rds
CentralityScores-900.Rds
CentralityScores-950.Rds
NonLocalCentrality-750.Rds
NonLocalCentrality-800.Rds
s.points.Rds
win.Rds
